@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
    @apply px-3;
}
.bg-primary{
    background-color: rgba(85,81, 227);
}
.bg-secondary{
    background-color: #2b2d77;
}
.mobile-menu{
    @apply fixed top-12 right-0 w-full h-full xs:w-1/2 transition-all;
}
.mobile-menu ul li{
    padding: 10px 0;
}
.project-des{
    @apply absolute left-0 bottom-0 top-0 bg-secondary w-full p-5 text-center opacity-0 hover:opacity-100 duration-500 ;
}
.btn{
    @apply bg-primary px-5 py-2 border-transparent border-2 rounded hover:border-2 hover:border-white  transition-all ;
}
html{
    scroll-behavior: smooth;
}
